<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load i18n %}


<head>
    <title>{% translate "Task manager" %}</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #822f82">
  <a class="navbar-brand" href="#">{% translate "Task manager" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{% translate "Users" %} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
       <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">{% translate "Log in" %} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">{% translate "Registration" %}<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
