{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4"></h1>
<div class="container wrapper flex-grow-1">
  <div class="card">
    <div class="card-body p-5 text-dark" style="background-color: #87cefa">
      <div class="display-4">{% translate "Hello from Hexlet!" %}</div>
      <p class="lead">{% translate "Practical programming courses" %}</p>
      <hr>
      <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">{% translate "See more" %}</a>
    </div>
  </div>
</div>
{% endblock %}