{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h1 class="my-4">{% translate "Edit user" %}</h1>
{% if form.subject.errors %}
<div>
    <ul>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<form action="{% url 'user_edit' id=user_id %}" method="post">
    <div class="container wrapper flex-grow-1">
        {% csrf_token %}
        <table>
           {% bootstrap_form form %}
        </table>
        <button class="btn btn-primary btn-lg" type="submit">{% translate "Save" %}</button>
    </div>
</form>
{% endblock %}
