{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate "Users" %}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Username" %}</th>
      <th>{% translate "Full name" %}</th>
      <th>{% translate "Created at" %}</th>
    </tr>
  </thead>

  <tbody>
    {% for user in user_list %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username  }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined|date:'d.m.Y' }}</td>
        <td>
          <a href="{% url 'user_edit' id=user.id%}">{% translate "Edit" %}</a>
          <br>
          <a href="{% url 'user_destroy' id=user.id %}" >{% translate "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}